#*
#*/
*.o
e1f6/processH10s
*.root
*.png
worksheets/spyder/
*.eps
python/out/
python/top1/
*.so
*.d
Release/
cscope*
*.bak
*.pcm
*.swp
e1f6/tags
e1f6/test/
*.ipynb_checkpoints/
*.root_hist
*.pdf
python/__pycache__/
*.pyc
*.orig
#*.cxx
#!.gitignore
#!*.sh
#!*.h
#!*.cpp
#!*.mk
#!*.cfg
#!omega.txt
#!input/
#!input/*
#input/*.d
#input/*.so
#!worksheets/
#!worksheets/*.py
#!worksheets/*.ipynb
#!python/
#!python/*.py
#!python/*.ipynb
#!scripts/
#!scripts/*.C
#!scripts/*.h
#!scripts/*.py
#!README.md
#!e1f6/
#!e1f6/*.C
#!e1f6/*.h
#!e1f6/*.cpp
#!e1f6/*.py
#!e1f6/README.md
