#*
#*/
*.o
e1f6/processH10s
*.root
*.png
worksheets/spyder/
*.eps
python/out/
python/top1/
*.so
*.d
Release/
cscope*
*.bak
*.pcm
*.swp
e1f6/tags
e1f6/test/
*.ipynb_checkpoints/
*.root_hist
*.pdf
python/__pycache__/
*.pyc
*.orig
Untitled.ipynb
e1f6/skim.e1f.sim.xml
worksheets/pi_345_ps.ipynb
worksheets/test.out
worksheets/tr_eff_e16.out
worksheets/tr_eff_e16_gt2000_lt2200.out
worksheets/tr_eff_e16_lt1900.out
worksheets/tr_eff_e16_multipleQ2s.out
worksheets/tr_eff_e1f.out
worksheets/tr_eff_e1f_gt2000_lt2200.out
worksheets/tr_eff_e1f_lt1900.out
worksheets/tr_eff_e1f_lt2800.out
worksheets/tr_eff_e1f_multipleQ2s.out

