#*
#*/
*.o
e1f6/processH10s
*.root
*.png
worksheets/spyder/
*.eps
python/out/
python/top1/
*.so
*.d
Release/
cscope*
*.bak
*.pcm
*.swp
e1f6/tags
e1f6/test/
*.ipynb_checkpoints/
*.root_hist
*.pdf
python/__pycache__/
*.pyc
*.orig
